@charset "UTF-8";

html {
  font-size: 62.5%;
}

*::before,
*::after {
  box-sizing: border-box;
}

body{
  color: #3f4548;
}

.tabs-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs-menu::after{
  content: '';
  clear: both;
  display: block;
}

.tabs-menu div {
  float: left;
  margin-right: 8px;
  margin-bottom: -1px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
 
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  transition: all .3s;
  user-select: none;
  cursor: pointer;
}

.tabs-menu div:not(.active):hover{
  border-color: #f1f1f1 #f1f1f1 #aaa;
  background-color: #f1f1f1;
}

.tabs-menu .active{
  border-color: #aaa #aaa transparent #aaa;
  background-color: #fff;
}

.tabs-menu .active {
  color: #3f4548;
}

.tabs-content{
  clear: both;
  border: 1px solid #aaa;
  border-radius: 0 4px 4px 4px;
  padding: 10px;
}

.tabs-content div {
  display: none;
}