@charset "UTF-8";
/* html {
  font-size: 62.5%;
} */

*::before,
*::after {
  box-sizing: border-box;
}

table-center {
  text-align: center;
}

table {
  width: 50%;
}

/* 設問用 */
.face {
  color: red;
}

.back {
  color: red;
  opacity: 0.4;
}
