/* h1 {
  colour: blue;
  background-color: yellow;
  border: 1px solid black;
}

p {
  color: red;
}

p,
li {
  text-decoration: underline;
} */
span {
  background-color: aqua;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px 10px;
}
