@charset "UTF-8";

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.child {
  font-size: 3rem;
}
.isActive:hover {
  background: #ddd;
}
