@charset "UTF-8";

html {
  /* font-size: 62.5%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  background-color: #94b6eb;
  color: #fdffff;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 20px;
  /* padding: 20px auto; */
  width: 500px;
  /* font-size: 2.5rem; */
}

.main input {
  /* width: 320px; */
  height: 20px;
}

button {
  padding: 5px 20px;
  border-style: none;
  color: #fdffff;
  background-color: #337ab7;
}
